body{
  padding: 30px 150px;
}

footer{
  text-align: center;
}

article{
  margin-top: 40px;
  margin-bottom: 40px;
}

footer hr{
  max-width: 200px;
}

/*Site title font and size*/
#site-title{
  font-family: "Yellowtail", cursive;
  font-weight: 600;
  font-size: 38px;
}

article span{
  font-variant: small-caps;
  font-family: "Oswald", sans-serif;
}

#print{
  float: right;
}

article h1{
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 43px;
}

div.navcontents{
  display: inline-block;
}

div.navcontents h3{
  font-variant: small-caps;
  font-family: "Overpass", sans-serif;
  letter-spacing: -1px;
  font-size: 14px;
  padding-left: 5px;
}

div.logos{
  float: right;
}

article p{
  text-indent: 2em;
  margin-top: 20px;
  margin-bottom: 10px;
}

#ingredients-div{
  margin: 20px 15px;
  width: auto;
  background-image: url("img/list-bg.png");
  display:flex;
  justify-content: space-around;
  box-shadow: 0px 5px 5px slategrey;
  padding-top: 20px;
  padding-bottom: 40px;
}

#chocolatepizza{
  width: 100%;
}

/*Strikethrough for checked inputs*/
label.strikethrough{
  text-decoration: line-through;
} 

label{
  font-family: "Shadows Into Light Two";
}

div.authordetails{
  display: inline-block;
  width: 70%;
}

div.authordetails h2{
  font-size: 26px;
  margin: 10px 10px;
}

div.authordetails p{
  font-size: 22px;
  margin: 10px 10px;
}

#share-recipe{
  float: right;
  background-color:#a35323;
  font-variant: small-caps;
  font-family: "Overpass", sans-serif;
  letter-spacing: -1px;
  font-size: 26px;
  padding: 15px 35px;
  color: whitesmoke;
  margin-top: 20px;
}